@{
    ViewData["Title"] = "登陆页面";
    Layout = null;
}
<form method="post" action="">
    <div>
        <label>姓名</label>
        <input type="text" id="name" name="name" />
        <label>密码</label>
        <input type="text" id="pwd" name="pwd" />
        <input type="submit" value="注册信息" />
    </div>
</form>
<a href="/Login/Index">返回登陆</a>
